

<div *ngIf="!logged">
  <app-nav></app-nav>
  <div class="center">
    <div class="vhod">
      <p>Username</p>
      <input type="text" class="inputs" [(ngModel)]="username"> <br>
      <p>Password</p>
      <input type="password"  class="inputs" [(ngModel)]="password">
      <button (click)="login()">Sign In</button>
    </div>
    <div class="new">
      <p id="new">New? <a routerLink="/registration">Create an account</a></p>
    </div>
  </div>
  <app-footer></app-footer>
</div>


<div *ngIf="logged">
  <app-nav></app-nav>
<router-outlet></router-outlet>
  <app-footer></app-footer>
</div>


