<div class="box-siz">
<div *ngFor = "let product of productsList">
    <div *ngIf = "selectedProductId == product.id">

        <div class="row" >
          <div class="column-1"><img [src]="product.image_src"></div>
          <div class="column-2">
            <h1 >{{product.name}}</h1>
            <h3>{{product.description}}</h3><br>
            <hr>
            <h2>{{product.price}} тнг.</h2><button (click)= "onAddToCart(product)" class="myButton">ADD TO CART</button>
          </div>
        </div>

    </div>
</div>
</div>
