
<div class="grid grid-pad">
<div *ngFor = "let product of productsInCart" >
  <H1><span style="background: #FFFFFF" >{{product.name}}</span></H1>
    <h3>
      <img [src]="product.image_src" >
      <p *ngIf = "product.description">
        <span style="background: cornflowerblue;color:#f2f2f2">Description:</span> {{product.description}}
      </p>
      <p>
        <span style="background: cornflowerblue;color:#f2f2f2">Price:</span> {{product.price}} тенге.
      </p>
      <button class="myButton2">Checkout</button>
      <BR>
      <button (click)= "removeProductFromCart(product) " class="myButton" >Remove from cart</button>
    </h3>
    <hr>
  </div>
</div>
